{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<!-- Page Content -->
    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">News
        <small>Subheading</small>
    </h1>
    
    <!-- Create News if you are a superuser -->
    {% if user.is_superuser %}
        <a href="{% url 'create_news' %}" class="btn btn-default">Create News</a><br>
    {% endif %}

    <!-- Blog Post -->
    {% for n in news %}
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">{{ n.title    }}</h2>
                        <p class="card-text">  {{ n.content  }}</p>
                        <a href="{% url 'news_details' n.id %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
          
            <div class="card-footer text-muted">
                {{ n.published_date  }}
            </div>
            
        </div>
    {% endfor %}


  </div>
  <!-- /.container -->

{% endblock %}