{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<section>
        
        <!-- Page Content -->
        <div class="container">
            
            {% if user.is_superuser %}
                <a href="{% url 'edit_news' news.id %}" class="btn btn-default">Edit News</a><br>
            {% endif %}
            
            {{ news.title        }}<br>
            {{ news.content      }}<br>
            {{ news.image        }}<br>
            {{ news.created_date }}<br>
            
            
            <img class="img-fluid" src="{{MEDIA_URL}}{{ news.image }}">
            

         </div>
        <!-- /.container -->
      
    </section>
    
{% endblock %}