{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block specific_js %}
    
    <script src="{% static 'checkout/ajax.jquery.min.js' %}"></script>
    <!-- CDN version: <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    
    <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
    </script>
    
    <script type="text/javascript" src="{% static 'checkout/stripe.js' %}"></script>

{% endblock specific_js %}


{% block content %}
        
    <!-- Page Content -->
    <div class="container">
      
        <div class="col-md-8 offset-md-2">  
            
                <h1 class="mt-4 mb-3">Payment Details</h1>
                
                <p>Event : <strong> <span class="text-nowrap">{{ event.name }} - </span><span class="text-nowrap">[Event number: {{ event.id }}].</strong></span></br>
                Participant : <strong>{{ user.first_name }} {{ user.last_name  }}</strong>.</br>
                Price : <strong>{{ event.rate }} €<strong></p>
                
        
                <form role="form" method="post" id="payment-form" action="{% url 'payment' %}">
                
                    <div id="credit-card-errors" style="display:none">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                
                    <div class="form-group">
                        {{ payment_form|as_bootstrap }}
                    </div>
                
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="event_id" value="{{ event.id }}"/>
                        <input class="btn btn-outline-success text-uppercase" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                    </div>
                
                </form>
                
                <a href="{% url 'home' %}">
                    <button type="button" class="btn btn-outline-danger text-uppercase"> CANCEL </button>
                </a>
            
        </div>
        
    </div>
    <!-- /.container -->
  

{% endblock %}



           
            
        