{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block content %}

    <!-- Page Content -->
    <div class="container">

        <h3>PROFILE</h3>

        <h4>You are logged in as : {{ user }}</h4>
        
        
        <h3>Profile</h3>
        
        <p>adherent_number:         {{ user.Profile.adherent_number  }}</p>
        <p>rate_coefficient:        {{ user.Profile.rate_coefficient }}</p>
        <p>events registered to:    {{ user.Profile.events.all }}</p>

    </div>
    
{% endblock content%}