{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    
    <!-- Page Content -->
    <div class="container">
    
        <!-- Page Title -->
        <div class="header rounded mt-4 mb-3" style="background-image: url({{ MEDIA_URL }}{{ event_type.image }})">
            <h1 class="txt-white center text-uppercase"> {{ event_type.title }} </h1>
        </div>
        
        <!-- Description -->
        <hr>
        <div class="col-md-10 offset-md-1 col-md-8 p-2">
            <p class="text-center lead">{{ event_type.description }}</p>
        </div>
        <hr>
    
        <!-- Data -->
        <div class="row">
            
            {% for event_subtype in event_subtypes %}
                <div class="col-lg-4 mb-4">
                    
                    <div class="card h-100">
                        
                        <h4 class="card-header"> {{ event_subtype.event_subtype }}</h4>
                        
                        <div class="row m-0">    
                            <div class="col-md-12 img" onclick="goTo('{% url 'list' event_type.event_type event_subtype.event_subtype %}')"  style="background-image:url('{{ MEDIA_URL }}{{ event_subtype.image }}')"></div>    
                        </div>
                        
                        <div class="card-body">
                            <p class="card-text">{{ event_subtype.description|truncatewords:40 }}</p>
                        </div>
                        
                        <div class="card-footer">
                            <a href="{% url 'list' event_type.event_type event_subtype.event_subtype %}" class="btn btn-primary">Learn More</a>
                        </div>
                        
                    </div>
                    
                </div>
            {% endfor %}
                
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->
    
{% endblock %}