{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section>

    <!-- Page Content -->
    <div class="container">
    
        <div class="header rounded mt-4 mb-3" style="background-image: url({{ MEDIA_URL }}{{ event_subtype.image }})">
            <h1 class="txt-white center text-uppercase"> {{ event_subtype.event_subtype }} </h1>
        </div>
        
        <div class="img-container mb-4">
            <img class="img-fluid rounded mb-4" src="{{ MEDIA_URL }}{{ event_subtype.image }}" alt="">
        </div>
        
      </h1>
    
        <div class="row">
            
            {% for event in events %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header"> {{ event.name }}</h4>
                        <div class="card-body">
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'details' event_type.event_type event_subtype.event_subtype event.id %}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container --> 

</section>
{% endblock %}