{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <div class="col-md-8 offset-md-2">  
        
            <h1 class="mt-4 mb-3 text-success">Inscription</h1>
            
            <p>Vous êtes sur le point de vous inscrire à : 
            <strong><span class="text-nowrap"> {{ event.name }} - [Event reference: {{ event.id }}].</span></strong></br>
            
            <span class="text-danger">Le participant qui sera inscrit est l'utilisateur connecté : 
            <strong><span class="text-nowrap">{{ user.first_name }} {{ user.last_name  }}</span></strong>.
            
            <br>Si vous voulez enregistrer votre enfant, merci de vous connecter avec son compte.</br> Si vous souhaitez enregistrer plusieurs personne, merci de vous enregistrer avec chacun des comptes. </span></br>
            
            Le tarif est de : <span class="text-nowrap">{{ event.rate }} €.</span> Si vous souhaitez continuer, cliquer sur  "Aller au paiement".</p>
            
            <div class="mt-3">
                <button class="btn btn-outline-primary mt-3 text-uppercase" onclick="goBack()">Annuler</button>
            </div>
            
            <div class="mt-3">
                
                <form method="POST" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}"/>
                    <input class="btn btn-outline-success text-uppercase" type="submit" value="Aller au paiement"/>
                </form>
                
            </div>
            
        </div>
    </div>
    <!-- /.container --> 

{% endblock %}