{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section>

    <!-- Page Content -->
    <div class="container">
    
        <h1 class="mt-4 mb-3">{{ event_subtype.event_subtype }}</h1>   
    
        <img class="img-fluid rounded mb-4" src="{{ event_subtype.img_src }}" alt="">
        
      </h1>
    
        <div class="row">
            
            {% for event in events %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header"> {{ event.name }}</h4>
                        <div class="card-body">
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'details' event_type.title event_subtype.event_subtype event.id %}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container --> 

</section>
{% endblock %}