{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        
        <div class="col-md-4 offset-md-4">  
            
            <h1 class="mt-4 mb-3 text-success">You've been registered !</h1>
            
            <p>We are excited you've joined us!</br>
            You can see your registrations on your <a href="{% url 'Profile' %}">personal profile page</a> and find all related information.</br>
            If you have any question, please contact the <a  href="{% url 'about'    %}#team">team.</a></p>
            
            <p>Go back to the <a href="/">home page.</a></p>
        
        </div>
    
    </div>
    <!-- /.container --> 

{% endblock %}