{% extends 'base.html' %}
{% load static from staticfiles %}

{% block specific_js %}
    
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    
{% endblock specific_js %}

{% block content %}
<section>

  
    <!-- Page Content -->
    <div class="container">
        
        <div class="row">
              
            </div>
            <!-- Post Content Column -->
            <div class="col-lg-8 offset-lg-2">
            
                <button class="btn btn-primary mt-3" onclick="goBack()">Go Back</button>
                
                <!-- Image -->
                <div class="row m-0 mt-3">    
                        <div class="img rounded" style="background-image:url('{{ MEDIA_URL }}{{ event.image }}')"></div>    
                </div>
                <!---->
                
                <h1 class="mt-4 mb-3">{{ event.name }}<small> with <a href="#">{{ event.host }}</a></small></h1>
                
                <table class="table table-hover">
                  <!--<thead>-->
                  <!--  <tr>-->
                  <!--    <th scope="col">Information</th>-->
                  <!--    <th scope="col"></th>-->
                    <!--  <th scope="col">Column heading</th>-->
                    <!--  <th scope="col">Column heading</th>-->
                  <!--  </tr>-->
                  <!--</thead>-->
                  <tbody>
                    <tr>
                      <th scope="row">Category</th>
                      <td>{{ event.event_subtype }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Period</th>
                      <td>{{ event.period        }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Age</th>
                      <td>{{ event.age_group     }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Level</th>
                      <td>{{ event.level         }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Max group size</th>
                      <td>{{ event.number_max    }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Host</th>
                      <td>{{ event.host          }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Day</th>
                      <td>{{ event.day }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Time</th>
                      <td>{{ event.time_start }} / {{ event.time_end }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Venue</th>
                      <td>{{ event.room          }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Rate</th>
                      <td>{{ event.rate          }} €</td>
                    </tr>
                  </tbody>
                </table>
                
                <hr>
                {% if event.number_available > 0 %}
                    <a href="{% url 'register_to_event' event.event_type event.event_subtype event.id %}">
                    <button id="register_button" type="button" class="nounderline btn btn-outline-primary btn-lg btn-block text-uppercase">REGISTER</button>
                    </a>
                {% else %}
                    <button type="button" class="disabled btn btn-danger btn-lg btn-block text-uppercase">There is no place available for this event.</button>
                {% endif %}
                
                <hr>
                
                <!-- Post Content -->
                <p class="lead">{{ event.description      }}</p>
                
                <hr>
            
            </div>
                
                
        </div>
        <!-- /.row -->
    </div>
            
    
</section>
{% endblock %}