{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

<h2>This is the block content</h2>

    {% for event in events %}
        <img src="{{ MEDIA_URL }}{{ event.image }}">
        <p><strong>event_type:    </strong> {{ event.event_type    }}</p>
        <p><strong>event_subtype: </strong> {{ event.event_subtype }}</p>
        <p><strong>name:          </strong> {{ event.name          }}</p>
        <p><strong>description:   </strong> {{ event.description   }}</p>
        <p><strong>image:         </strong> {{ event.image         }}</p>
        <p><strong>day:           </strong> {{ event.day           }}</p>
        <p><strong>time_start:    </strong> {{ event.time_start    }}</p>
        <p><strong>time_end:      </strong> {{ event.time_end      }}</p>
        <p><strong>rate:          </strong> {{ event.rate          }}</p>
        <p><strong>age_group:     </strong> {{ event.age_group     }}</p>
        <p><strong>level:         </strong> {{ event.level         }}</p>
        <p><strong>number_max:    </strong> {{ event.number_max    }}</p>
        <p><strong>room:          </strong> {{ event.room          }}</p>
    {% endfor %}

{% endblock %}