{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Mission description -->
    <h1 class="mt-4 mb-3">A propos<small></small></h1>
     
    <a class="anchor" id="mission"></a>
    
    <div class="row">
        
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="{{ STATIC_URL }}images/Mauguio-Carnon.jpg" alt="">
        </div>
          
        <div class="col-lg-6">
              
            <h2 class="mt-0 mb-3">Qu'est-ce qu'une MJC ?</h2>
              
            <p>Une MJC est une association ouverte à tous quel que soit l’âge et origine de chacun.</p>
            
            <p>Elle s’inscrit dans le cadre de l’EDUCATION POPULAIRE qui reconnait à chacun la volonté
               et la capacité d’évoluer, d’échanger et d’accéder aux activités sportives et culturelles.</p>
               
            <p>Elle propose aussi des moments de partage à tous les âges de la vie afin de s'épanouir,
               de partager une vie de groupe et de trouver une place dans la société.</p>
               
            <p>Les MJC ont été créées en 1948, s’appuyant surles valeurs de l’EDUCATION POPULAIRE
               développées depuis la Révolution Française (Condorcert) et la Résistance, avec pour
               objectif la responsabilisation et l’autonomie des citoyens.</p>
        </div>
            
    </div>
    <!-- /. row-->

    <!-- Team Members -->
  
    <h2 class="mt-4 mb-3">L'Equipe</h2>
  
    <a class="anchor" id="team"></a>
    
    <div class="row">
    
        <!-- Team Member 1 -->
        <div class="col-lg-4 mb-4">
          
            <div class="card h-100 text-center">
          
                <div class="row m-0">
                        <div class="img rounded-top" style="background-image:url('{{ STATIC_URL }}images/team_members/warren-wong-242286-unsplash.jpg')"></div>    
                </div>
              
                <div class="card-body">
                    <h4 class="card-title"><span class="text-capitalize">Christine</span> <span class="text-uppercase">VOTOVIC</span></h4>
                    <h6 class="card-subtitle mb-2 text-muted text-capitalize">Présidente</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
              
                <div class="card-footer">
                    <a href="#">/</a>
                </div>
              
            </div>
          
        </div>
          
        <!-- Team Member 2 -->
        <div class="col-lg-4 mb-4">
          
            <div class="card h-100 text-center">
          
                <div class="row m-0">
                        <div class="img rounded-top" style="background-image:url('{{ STATIC_URL }}images/team_members/aatik-tasneem-138230-unsplash.jpg')"></div>    
                </div>
              
                <div class="card-body">
                    <h4 class="card-title"><span class="text-capitalize">Christelle</span> <span class="text-uppercase">LACOUR</span></h4>
                    <h6 class="card-subtitle mb-2 text-muted text-capitalize">Directrice</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
              
                <div class="card-footer">
                    <a href="#">dir.mjcmauguiocarnon@gmail.com</a>
                </div>
              
            </div>
          
        </div>
  
        <!-- Team Member 3 -->
        <div class="col-lg-4 mb-4">
          
            <div class="card h-100 text-center">
          
                <div class="row m-0">
                        <div class="img rounded-top" style="background-image:url('{{ STATIC_URL }}images/team_members/joe-gardner-149699-unsplash.jpg')"></div>    
                </div>
              
                <div class="card-body">
                    <h4 class="card-title"><span class="text-capitalize">Dominique</span> <span class="text-uppercase">GOURMELON</span></h4>
                    <h6 class="card-subtitle mb-2 text-muted text-capitalize">Coordinatrice</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                </div>
              
                <div class="card-footer">
                    <a href="#">dominique@mjcmauguiocarnon.fr</a>
                </div>
              
            </div>
          
        </div>
        
    </div>
    <!-- /.row -->
    
    <!-- Contact -->
      
    <h2 class="mt-4 mb-3">Nous Contacter</h2>
     
    <a class="anchor" id="contact"></a>
    
    <div class="row">
         
        <div class="col-md-12">
        
            <p class="">Si vous avez des suggestions, ou des questions concernant les activités, stages et évènements, n'hésitez pas à nous contacter par téléphone ou par courriel.</p>
            
            
            <div class="col-xs-3">
            <p class="ml-5">
                <svg    class="svg-mini-1 mr-2"
                        enable-background="new 0 0 139 139" 
                        id="phone" 
                        viewBox="0 0 139 139" >
                        <path d="M67.317,81.952c-9.284-7.634-15.483-17.054-18.742-22.414l-2.431-4.583c0.85-0.912,7.332-7.853,10.141-11.619  c3.53-4.729-1.588-9-1.588-9S40.296,19.933,37.014,17.076c-3.282-2.861-7.06-1.272-7.06-1.272  c-6.898,4.457-14.049,8.332-14.478,26.968C15.46,60.22,28.705,78.216,43.028,92.148c14.346,15.734,34.043,31.504,53.086,31.486  c18.634-0.425,22.508-7.575,26.965-14.473c0,0,1.59-3.775-1.268-7.06c-2.86-3.284-17.265-17.688-17.265-17.688  s-4.268-5.119-8.998-1.586c-3.525,2.635-9.855,8.496-11.38,9.917C84.171,92.749,73.582,87.104,67.317,81.952z"/>
                </svg>
                 04.67.29.34.99 (du Lundi au Vendredi, 9:00 - 17:00)
            </p>
            
            
            
            
            <p class="ml-5 mb-5">
                <svg    class="svg-mini-1 mr-2"
                        id="email" 
                        style="enable-background:new 0 0 16 16;" 
                        viewBox="0 0 16 16">
                        <path d="M8,10c-0.266,0-0.5-0.094-1-0.336L0,6v7c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1V6L9,9.664C8.5,9.906,8.266,10,8,10z M15,2  H1C0.45,2,0,2.45,0,3v0.758l8,4.205l8-4.205V3C16,2.45,15.55,2,15,2z"/>
                </svg>
                contact@mjc-mauguio-carnon.com
            </p>
            
                
            <div class="iframe-map-container mb-4"> 
                <iframe class="iframe-map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.355173807559!2d4.003814515496666!3d43.619966079122506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6bb6635721305%3A0x525decd872d8de41!2sMjc+Mauguio!5e0!3m2!1sen!2sie!4v1534693459808"></iframe>
            </div>
            
                
        </div> 
            
    </div>
    <!-- /. row-->

</div>
<!-- /.container -->
{% endblock %}