{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<!-- Carousel -->
<header>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">    </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">                   </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">                   </li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
          
             <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('{{ STATIC_URL }}images/band-bokeh-close-up-144428.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Music</h3>
                  <p>The MJC offers many instruments lessons in different music styles!</p>
                </div>
            </div>
              
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{{ STATIC_URL }}images/acting-actors-ballet-11437.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Art</h3>
                  <p>From dance to drawing, develop your creative side!</p>
                </div>
            </div>
              
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{{ STATIC_URL }}images/action-adult-balance-163452.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Sport</h3>
                  <p>Enroll for one or many sport activities!</p>
                </div>
            </div>
            
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
    </div>
      
</header>


<section>
    
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Welcome to <strong>your</strong> association!</h1>
        
        <!-- News section -->
        <h2>News & Upcoming events</h2>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="{{ STATIC_URL }}images/chain-close-up-display-1036857.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">Registrations are now open !</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a href="#" class="btn btn-primary">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                  Posted on September 1, 2018 by
                  <a href="{% url 'about' %}#team">a loving Team !</a>
            </div>
        </div>
    
        <!-- Offer Section -->
        <h2>Join us!</h2>
    
        <div class="row">
            
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{% url 'subtypes' 'ACTIVITY' %}"><img class="card-img-top" src="{{ STATIC_URL }}images/community-diversity-feet-53958.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'subtypes' 'ACTIVITY' %}">Activities</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{% url 'subtypes' 'TRAININGCOURSE' %}"><img class="card-img-top" src="{{ STATIC_URL }}images/exercise-feet-fitness-892682.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'subtypes' 'TRAININGCOURSE' %}">Courses</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{% url 'subtypes' 'EVENT' %}"><img class="card-img-top" src="{{ STATIC_URL }}images/blur-bokeh-close-up-164879.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'subtypes' 'EVENT' %}">Events</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->
      
</section>

{% endblock %}