{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<!-- Carousel -->
<header>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">    </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">                   </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">                   </li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
          
             <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('{{ STATIC_URL }}images/band-bokeh-close-up-144428.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="txt-white">Music</h3>
                  <p>The MJC offers many instruments lessons in different music styles!</p>
                </div>
            </div>
              
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{{ STATIC_URL }}images/acting-actors-ballet-11437.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="txt-white">Art</h3>
                  <p>From dance to drawing, develop your creative side!</p>
                </div>
            </div>
              
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{{ STATIC_URL }}images/action-adult-balance-163452.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="txt-white">Sport</h3>
                  <p>Enroll for one or many sport activities!</p>
                </div>
            </div>
            
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
    </div>
      
</header>


<section>
    
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Welcome to the new MJC website!</h1>
        
        <!-- News section -->
        <h2>News & Upcoming events</h2>
        
        {% for news in last_news %}
        
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-6 img rounded" style="background-image:url('{{ MEDIA_URL }}{{ news.image }}')"></div>
                
                        <div class="col-md-6">
                            <h2 class="card-title">{{ news.title }}</h2>
                            <p class="card-text">{{ news.content|truncatewords:60 }}</p>
                            <a href="{% url 'news_details' news.id %}" class="btn btn-primary">Read More →</a>
                        </div>
                
                    </div>
                </div>
                
                <div class="card-footer text-muted">
                      Posted on {{ news.created_date }} by
                      <a href="{% url 'about' %}#team">a loving Team !</a>
                </div>
                
            </div>
        {% endfor %}
    
    
        <!-- Offer Section -->
        <h2>Join us!</h2>
    
        <div class="row">
            
            <!-- Activities -->
            <div class="col-lg-4 col-sm-6 portfolio-item">
                
                <div class="card h-100">
                    <div class="row m-0">    
                        <div class="img rounded-top" style="background-image:url('{{ MEDIA_URL }}{{ activities.image }}')"></div>    
                    </div>
                        
                    <div class="card-body">
                        <h4 class="card-title text-capitalize">
                            <a href="{% url 'subtypes' activities.event_type %}">{{ activities.title }}</a>
                        </h4>
                        <p class="card-text">{{ activities.description|truncatewords:30 }}</p>
                    </div>
                    
                </div>
            </div>
            
            <!-- Courses -->
            <div class="col-lg-4 col-sm-6 portfolio-item">
                
                <div class="card h-100">
                    <div class="row m-0">    
                        <div class="img rounded-top" style="background-image:url('{{ MEDIA_URL }}{{ courses.image }}')"></div>    
                    </div>
                        
                    <div class="card-body">
                        <h4 class="card-title text-capitalize">
                            <a href="{% url 'subtypes' courses.event_type %}">{{ courses.title }}</a>
                        </h4>
                        <p class="card-text">{{ courses.description|truncatewords:30 }}</p>
                    </div>
                    
                </div>
            </div>
            
            <!-- Event -->
            <div class="col-lg-4 col-sm-6 portfolio-item">
                
                <div class="card h-100">
                    <div class="row m-0">
                        <div class="img rounded-top" style="background-image:url('{{ MEDIA_URL }}{{ events.image }}')"></div>    
                    </div>
                        
                    <div class="card-body">
                        <h4 class="card-title text-capitalize">
                            <a href="{% url 'subtypes' events.event_type %}">{{ events.title }}</a>
                        </h4>
                        <p class="card-text">{{ events.description|truncatewords:30 }}</p>
                    </div>
                    
                </div>
            </div>
            
        </div>    
        <!-- /.row -->
    
    </div>
    <!-- /.container -->
      
</section>

{% endblock %}