{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Tarifs -->
    <a id="mission"></a>
      
    <h1 class="mt-4 mb-3 text-capitalize">Stages - Tarifs & Inscriptions<small></small></h1>
     
    <div class="row">
        
        <div class="col-md-12">
              
            <h2 class="mt-3 mb-3">Tarifs</h2>
            
            <h4>Résidants de Maugio / Carnon</h4>
              
            <p>Dans cette partie peuvent se retrouver l'ensemble des informations concernant les différents coefficients de tarifs (avec tableaux, ...).</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque non itaque labore distinctio dolores voluptatibus corporis, earum optio quaerat aliquid eaque delectus quas, harum ipsum voluptates eveniet. Cum, eveniet ipsa nulla reprehenderit ratione ea iusto.</p>
           
            <h4>Résidants d'autres communes</h4>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illum excepturi natus corrupti possimus temporibus vero nihil deserunt delectus animi, iste nisi! Dolores quo mollitia quae aut provident consectetur aperiam vero. Similique qui praesentium repudiandae, reiciendis nulla provident corrupti temporibus at, omnis deleniti vitae, totam blanditiis. Quod aliquam unde, ea.</p>
           
        </div>
            
    </div>
    <!-- /. row-->
    
    <!-- Inscription -->
    <a id="mission"></a>
     
    <div class="row">
        
        <div class="col-md-12">
              
            <h2 class="mt-3 mb-3">Inscriptions<small></small></h2>
            
            <h4>Quand ?</h4>
              
            <p>Les inscriptions sont ouvertes à partir du 1er septembre et seront clotûrées au 30 septembre.</p>
           
            <h4>Comment ?</h4>
           
            <p>Les dossiers doivent être envoyés par voie postale (adresse d'envoi) ou par email (email d'envoi).</p>
            <p>Ils doivent comprendre les pièces suivantes :</p>
            <ul>
                <li>Formulaire complet</li>
                <li>Photo d'identité</li>
            </ul>
            <p>Si l'inscription est pour un sport, aux éléments mentionnés ci-dessus s'ajoute :</p>
            <ul>
                <li>Certificat médical d'aptitude à la pratique de l'activité</li>
            </ul>
            
            <h4>Besoin d'une information ?</h4>
              
            <p>Vous pouvez contacter le secretariat par téléphone au 04.67.29.34.99 ou par courriel à l'adresse contact@mjc-maugio.com .</p>
           
        </div>
            
    </div>
    <!-- /. row-->

</div>
<!-- /.container -->
{% endblock %}