{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">
    
        <div class="col-md-8 offset-md-2"> 
        
        <div class="row">
            <h1 class="mt-4 mb-3 text-capitalize">Lieux & Salles</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia rerum esse ratione quas fuga omnis dicta eius voluptatibus ea nemo cumque, obcaecati consequatur adipisci earum non commodi illo optio tempora!</p>
        </div>        
            
            {% for venue in venues %}    
                <div class="row">
                    <h2 class="mt-4 mb-3">{{ venue.name }}</h2>
                </div>
                 
                <div class="row">
                        
                    <div class="iframe-map-container mb-4"> 
                        <iframe class="iframe-map-container" src="{{ venue.iframe_url_map }}" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                    <div class="col-md-12 px-0">
                        <h4 class="mt-4 mb-3 ">Information</h4>   
                    </div>
                     
                    <div class="col-md-12 px-0">
                        <p><strong>Adresse :</strong></br>
                        {{ venue.street_nb }}, {{ venue.street_name }}</br>
                        {{ venue.postcode }} {{ venue.city }}</p>
                    </div>
                
                </div>
            {% endfor %}
            
            
        </div>

</div>
<!-- /.container -->
{% endblock %}